<ion-content>
  <ion-card>
    <ion-card-content  >
      <ion-img [src]="imageCapture.image" *ngIf="imageCapture.image" ></ion-img>
    </ion-card-content>
  </ion-card>
    <ion-fab vertical = "bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" mini (click)="imageCapture.takePhoto()"><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>
    <ul class="output">
    <li *ngFor="let prediction of imageCapture.predictions | async">
      {{prediction.className}} ({{prediction.probability | number:'1.5-5'}})
    </li>
  </ul> 
</ion-content>
