<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
    <ion-card class="welcome-card">
      <!--ai.jpg credit: Image by <a href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&amp;
      utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3382507">Gerd Altmann</a> from <a href="https://pixabay.com/
      ?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3382507">
      Pixabay</a>-->
      <img src="/assets/ai.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Jim Farrell</ion-card-subtitle>
        <ion-card-subtitle>SWDV-665</ion-card-subtitle>
        <ion-card-subtitle>Final Project</ion-card-subtitle>
        <ion-card-title>What's in the image?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Snap a picture with you device camera. See if app can identify what is in the picture.</p>
      </ion-card-content>
    </ion-card>
   <!-- <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>-->
</ion-content>
